.body{
    text-align: center;
    max-width: 100px;
    margin: 30px;
}

.info{
    float: right;
}
.icon{
    float: left;
}
.text{
    float:right;
}
.account{
    text-align: center;
    padding: 25%;
}
.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
