.body{
    text-align: center;
    max-width: 100px;
    margin: 30px;
}

.info{
    float: right;
}
.icon{
    float: left;
}
.text{
    float:right;
}
.account{
    text-align: center;
    padding-top: 300px;
}
.box{
    padding: 0.5em 1em;
    margin: 2em 15em;
    font-weight: bold;
    text-align: center;
    border: solid 3px #000000;
}
.sendbutton{
    text-align: center;
}

.people-list{
    text-align: center;
    padding-top: 150px;
}

.person{
    margin: 40px;
    float: left;
    width: 15%;
}