<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>送金完了画面</title>
    <link rel="stylesheet" href="static/css/stylesheet2.css">
</head>
<body>
    <!--container：アプリ画面全体-->
    <div class="container">
        <div class="info">

            <!--icon：自分のアイコン-->
            <div class="icon">
                <img src="static/img/human1.png" width="100px" height="100px">
            </div>
            <!--text：自分の名前と口座番号のカタマリ-->
            <div class="text">
                <div class="name">
                    <p>サンプル 氏名</p>
                </div>
                <div class="number">
                    <p>0000000</p>
                </div>
            </div>
        </div>

        <div class="complete">
            <img src="static/img/approval.png" width="100px" height="100px">
            <h2>送金処理が完了しました。</h2>
            <!---->
            <div class="mypage-button">
            <!---->
            <a href="/">マイページに戻る＞</a>
        </div>
        </div>
    </div>

</body>
</html>