<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body>
    <div class="container">

        <div class="info">

            <div class="icon">
                <img src="static/img/human1.png" width="100px" height="100px">
            </div>

            <div class="text">
                <div class="name">
                    <p>サンプル 氏名</p>
                </div>
                <div class="number">
                    <p>0000000</p>
                </div>
            </div>

        </div>

        <div class="account">
            預金残高
            <div class="box">
                300000
            </div>
        </div>

        <div class="sendbutton">
            <a href="/send">送金する＞</a>
        </div>
        
    </div>
    


</body>
</html>