<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body>
    <div class="container">

        <div class="info">

            <div class="icon">
                <img src="static/img/human1.png" width="100px" height="100px">
            </div>

            <div class="text">
                <div class="name">
                    <p>サンプル 氏名</p>
                </div>
                <div class="number">
                    <p>0000000</p>
                </div>
            </div>

        </div>

        <div class="people-list">
            
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>
            <div class="person">
                <img src="static/img/human1.png" width="100px" height="100px">
                <p class="person-name">サンプル 1</p>
            </div>

        </div>

    </div>

</body>
</html>